name: Custom Action CI

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: hello world custom actions
        uses: Mullah98/my-custom-action@main
        with:
          who-to-greet: 'CoderCo Team'